.App {
  text-align: center;
  background-color: #282c34 !important;
  max-height: 100vh !important;
}

.Logo {
    max-height: 35vh;
    align-self: flex-end;
}

.join-now-button {
    align-self: center !important;
    border-color: red !important;
    color: red !important;
}

.card-action-custom{
    justify-content: center;
    align-self: center !important;
    align-content: center !important;
}

.card-dark{
    background-color: #282c34 !important;
    color: white !important;
}

.wave-container {
  position: relative;
  background: white;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}

.wave-footer-container{
  position: relative;
  background: white;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}